# Discord Webhook URLs
# Replace these with your actual Discord webhook URLs
# Get these from Discord Server > Integrations > Webhooks > Create Webhook

# Public Host Webhooks
DISCORD_PUBLIC_CHAT_URL=https://discord.com/api/webhooks/1499036068320776343/eBnliMo0GHXs7xCxEEcfKAvLvWk6HAufJRMI1kYe1Xiblt6QIkOqkx845q0Xvkh7dK2F
DISCORD_PUBLIC_LOG_URL=https://discordapp.com/api/webhooks/1499035570696093708/Zf9n_h6An71V3r3UakMNKBV0exBKPuN0CBF6x2RCdDYdhimfmeD3iraxR-gtmjCYnp0n
DISCORD_PUBLIC_REPLAY_URL=https://discord.com/api/webhooks/1499036305013735455/UxmgRZt-_KlNsp1QQPwvS-V9v0pibR5j10IsK2qQEw-4GgByuW9BhHMOhNaPjXFE1dke

# League Host Webhooks
DISCORD_LEAGUE_CHAT_URL=https://discord.com/api/webhooks/1499036901636702338/tzmQUmUPIrazbK9WlBDV-JThdznck0baeIaht8CqwXBtEQwQKAyJmqKN1dnVIx4IGQpc
DISCORD_LEAGUE_LOG_URL=https://discord.com/api/webhooks/1499036605913239764/eMx46AC2dhu4f6AfU7MFL1oSp9PnOkuhlLGW_j0rZjcGv9_dYGZWNJTEooEzmkzYKBFs
DISCORD_LEAGUE_REPLAY_URL=https://discord.com/api/webhooks/1499037065654960178/eyZiyY6fP3vdxy805Oqid_0oT-shuNimOVaPD9v_3Y7v6UEF3X8xEFWg6NUzi0HEbEZm

# Special Purpose Webhooks
DISCORD_TRACK_RECORDS_URL=https://discord.com/api/webhooks/1499037401648205915/r_PtV1ugAPZvhjlogCQrpLQDLGgzhtY19LohzrrySFyp2Z9fzEtQktlUJrUtbqFRQByg
DISCORD_CUT_TRACK_URL=https://discord.com/api/webhooks/1499037263579844728/WWNM1P2HFfxWSxRFzJPgcTI3zal3138abatn2RDi63iI5j6S9puoez8tBZrMtDBku1af

# Community-Specific Webhooks
DISCORD_LEAGUE_REPLAY_URL_HAXBULA=https://discord.com/api/webhooks/1430929602133360660/58LI0LCU_lqQ1EbCUqsc-2BoN_RiTM0Ar2kM8mY2skMVkRe6UXTkBq6UOQZNPul-xJv5
DISCORD_GENERAL_CHAT_HAXBULA_URL=https://discord.com/api/webhooks/1430915666252271758/lNQAKWBM8GbEm-DKJcXTSydxgytRjuuCeI5ZbkpzC2xJlzZl8XY3HbOd9EoZjUc0ub3T
DISCORD_GENERAL_CHAT_FTOH_URL=https://discord.com/api/webhooks/1430928301542608907/Nl8tc5blU1aFQXUlfN6tPVX5Q0FX00aaNAyoOedLTEfLsz5t97Wi5Nm74RYuaqPDwPVY
DISCORD_LEAGUE_REPLAY_URL_FH=https://discord.com/api/webhooks/1347947425620299777/JVH8u7nG-mt602JpxpUV4Vr8_g5unMNJMO60IRPDTfTsnsvpf5-PjDbJx_Mwn7Id7TR-

# Room Configuration
# Passwords for admin access
PUBLIC_ADMIN_PASSWORD=toh
PUBLIC_MOD_PASSWORD=toh
LEAGUE_ADMIN_PASSWORD=toh

# Banned IPs (JSON array format)
BANNED_IPS=["90.94.201.31", "192.168.1.100"]

